.wrapper{
  background-color: #fff!important;
  height: 'auto!important';
  margin: '0 auto -99px';
  min-height: '100%';
}

.header {
  width: '100%';
  height: 60px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 45px;
}

.bg-dark{
  background-image: url('https://bscscan.com/images/svg/components/abstract-shapes-20.svg?v=2');
  background-color: #12161c!important;
  height: 200px;
}

.search {
  padding: 45px;
  max-width: '100%';
  padding-bottom: '4.5rem!important';
}

.title {
  color:#FBDA3C;
  margin-bottom: .75rem!important;
  font-size: 1.3125rem;
}

.submit {
  width: 50px;
  background-color: '#3498db';
}

.result {
  margin: 45px;
  padding: 0;
}