# Your Infura WebSocket URL
INFURA_WS_URL=

# The ERC-20 quote token address at blockchain. Ex: 0xB4FBF271143F4FBf7B91A5ded31805e42b2208d6 (WETH - Goerli)
TOKEN_ADDRESS=

# Your wallet address on blockchain
WALLET=

# Your wallet private key
PRIVATE_KEY=

# Your blockchain name, lowercase. Ex: goerli
NETWORK=

# Your Infura node API Key
INFURA_API_KEY=

# The Uniswap V3 router contract address. Ex: 0x68b3465833fb72A70ecDF485E0e4C7bD8665Fc45 (Goerli)
ROUTER_ADDRESS=

# The Uniswap V3 Factory contract address. Ex: 0x1F98431c8aD98523631AE4a59f267346ea31F984 (Goerli)
FACTORY_ADDRESS=

# The coin amount (in ether) for each "buy" swap. Ex: 0.01
AMOUNT_TO_BUY=